<div class="button-column">
  <div><p style="overflow-wrap: break-word">${app_game_info}</p></div>
  <div class="button-row">
    <button
      class="anim-btn-large-orange"
      onClick="${app_button_performance}"
      id="${app_performance_id}"
      data-name="${app_name}"
    >
      TURBO ⚡
    </button>
    <button
      class="anim-btn-large-green"
      onClick="${app_button_battery}"
      id="${app_battery_id}"
      data-name="${app_name}"
    >
      BATTERY 🔋
    </button>
  </div>
</div>
