@font-face {
  font-family: 'ps4';
  src: url('sst.ttf') format("truetype");
}

* {
  /* Disables the default callout popup (iOS/Safari) */
  -webkit-touch-callout: none; 
  
  /* Disables text and element selection magnifying glasses */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none;  /* Konqueror HTML */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Standard */
  
  /* Prevents the default touch behaviors like double-tap zoom */
  touch-action: none;
}

body {
  user-select: none !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  background: #008189;
  font-size: 17px;
  font-family: 'ps4', sans-serif;
  color: #FFFFFF;
}

input,
textarea {
  -webkit-user-select: initial;
}

#wrapper {
  position: absolute;
  width: calc(48px * 2);
  margin: 50vh 50%;
  transform: translate(-50%, -50%);
}

#wrapper div {
  width: 48px;
  height: 48px;
  float: left;
  text-align: center;
  line-height: 4.5;
}

svg {
  width: 70%;
}

#triangle svg {
  animation: rotateAnimation 3s ease-in-out infinite;
}

#square svg {
  animation: rotateAnimation 3s 1s ease-in-out infinite;
}

#circle svg {
  animation: rotateAnimation 3s 0.5s ease-in-out infinite;
}

#cross svg {
  animation: rotateAnimation 3s 2s ease-in-out infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(120deg) scale(0);
  }
  70% {
    transform: rotate(-120deg) scale(0);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
