<div class="x-content x-flex">
  <div class="x-item-left">
    <svg
      width="20px"
      height="20px"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      stroke="#ffffff"
      transform="matrix(1, 0, 0, 1, 0, 0)rotate(270)"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M14 2H0V14H14V11H16V5H14V2Z" fill="#ffffff"></path>
      </g>
    </svg>
    ${battery_value}&nbsp;&nbsp;&nbsp;

    <svg
      width="22px"
      height="22px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M7 21H17M6.2 17H17.8C18.9201 17 19.4802 17 19.908 16.782C20.2843 16.5903 20.5903 16.2843 20.782 15.908C21 15.4802 21 14.9201 21 13.8V6.2C21 5.0799 21 4.51984 20.782 4.09202C20.5903 3.71569 20.2843 3.40973 19.908 3.21799C19.4802 3 18.9201 3 17.8 3H6.2C5.0799 3 4.51984 3 4.09202 3.21799C3.71569 3.40973 3.40973 3.71569 3.21799 4.09202C3 4.51984 3 5.07989 3 6.2V13.8C3 14.9201 3 15.4802 3.21799 15.908C3.40973 16.2843 3.71569 16.5903 4.09202 16.782C4.51984 17 5.07989 17 6.2 17Z"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
    ${refresh_rate}&nbsp;&nbsp;&nbsp;
    <svg
      width="20px"
      height="20px"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      stroke="#ffffff"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.99995 0H8.33328L12.9999 3.5V5.56619L8.9436 8L12.9999 10.4338V12.5L8.33328 16H5.99995V9.61803L1.44716 11.8944L0.552734 10.1056L4.76388 8L0.552734 5.89443L1.44716 4.10557L5.99995 6.38197V0ZM7.99995 9.76619V13.75L10.9509 11.5368L7.99995 9.76619ZM7.99995 6.23381V2.25L10.9509 4.46323L7.99995 6.23381Z"
          fill="#ffffff"
        ></path>
      </g>
    </svg>
  </div>
  <div class="x-item-right"></div>
</div>
