<div class="modal-content center-items">

  <div class="credit-wrapper">
	<div id="coins_id" class="time-larger">₱0</div>
  </div>
  <div class="time-container">
    <!-- Hours -->
    <div class="time-box-wrapper">
      <div class="time-box" id="hours">00</div>
      <div class="time-label">Hours</div>
    </div>

    <div class="colon">:</div>

    <!-- Minutes -->
    <div class="time-box-wrapper">
      <div class="time-box" id="minutes">00</div>
      <div class="time-label">Mins</div>
    </div>

    <div class="colon">:</div>

    <!-- Seconds -->
    <div class="time-box-wrapper">
      <div class="time-box" id="seconds">00</div>
      <div class="time-label">Secs</div>
    </div>
  </div>
  <div class="button-column app-button-start">
    <button
      id="${button_start_id}"
      class="anim-btn"
	  style="width: 150px"
      onclick="${button_start_time_event}"
    >
      DONE
    </button>
	<button
	  class="anim-btn"
	  style="width: 150px"
	  onclick="${button_insert_close_event}"
	>
	  CANCEL
  </button>
  </div>
</div>
