@font-face {
  font-family: "ps4";
  src: url("sst.ttf") format("truetype");
}

* {
  /* Disables the default callout popup (iOS/Safari) */
  -webkit-touch-callout: none;

  /* Disables text and element selection magnifying glasses */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */

  /* Prevents the default touch behaviors like double-tap zoom */
  touch-action: none;
}

:root {
  --pallete-light: #00ffee;
  --pallete-dark: #008980;
  --pallete-darker: black;
  --pallete-body: #008189;
}

html,
body {
  user-select: none !important;
  overflow-x: hidden !important;
  height: 100%;
  position: relative;
  background-color: var(--pallete-body);
  font-size: 17px;
  font-family: "ps4", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

input,
textarea {
  -webkit-user-select: initial;
}

.swiper-slide {
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);

  border-radius: 5px;
}

.img-medium {
  width: 150px; /* Or a fixed width like 300px */
  height: 150px; /* Or a fixed height */
  object-fit: cover; /* Keeps aspect ratio by cropping to fill the box */
}

.img-small {
  width: 70px; /* Or a fixed width like 300px */
  height: 70px; /* Or a fixed height */
  object-fit: cover; /* Keeps aspect ratio by cropping to fill the box */
}

.xsmall-swiper {
  width: 100%;
  height: 64px;
  margin: 5px 0;
  padding: 5px;
}

.small-swiper {
  width: 100%;
  height: 100px;
  margin: 20px 0;
  padding: 20px;
}

.large-swiper {
  width: 100%;
  height: 270px;
  margin: 20px 0;
  padding: 50px;
}

.swiper {
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  bottom: -50px !important; /* Adjust pixels as needed */
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 50px 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5);
}

/*
.swiper-slide {
  background-position: center;
  background-size: cover;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}


.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 50px 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5);
}

.x-slider {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.x-slider .swiper-button-next {
  color: #01ef64;
}

.x-slider .swiper-button-prev {
  color: #01ef64;
}
.x-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
*/

.x-filter {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
}

.x-content {
  width: 100%;
  height: 60px;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;

  z-index: 999;
}

.x-item-left {
  width: 100%;
  height: 50px;
  padding: 20px;
}

.x-item-right {
  width: 100%;
  height: 50px;
  padding: 20px;
}

.x-card {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  width: 350px;
  background: rgba(0, 0, 0, 0.5);
}

.x-font-small {
  font-size: small;
}

.x-font-smaller {
  font-size: smaller;
}

.x-time {
  font-size: 90px;
}

.x-hero {
  margin-top: 10%;
  place-items: center;
  z-index: 999;
}

.x-center {
  display: grid;

  place-items: center; /* Centers horizontally and vertically at once */
  height: 60vh;
  z-index: 999;
}

.x-center-items {
  justify-content: center;
}

.x-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contrast {
  filter: contrast(150%);
}

.blur {
  filter: blur(5px);
}

.wave {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave > div {
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  opacity: 0.4;
  position: fixed;
  top: 3%;
  left: 10%;
}

.wave--one {
  background: var(--pallete-light);
  animation: drift 7000ms infinite linear;
}

.wave--two {
  animation: drift 3000ms infinite linear;
  opacity: 0.1;
  background: var(--pallete-darker);
}

.wave--three {
  animation: drift 7500ms infinite linear;
  background-color: var(--pallete-dark);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scale-down-center {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.container {
  position: relative;
}
/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-size: 16px;
  padding: 12px 24px;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  animation: blink-loop 0.6s infinite alternate;
}

.filter {
  position: relative;
  font-size: 24px;
}

.filter .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

@keyframes blink-loop {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}
